body{
  padding-bottom: 200px;
}


img{
  width: 300px;
}

.rosso{
  color: red;
}
.verde{
  color: green;
}
.blu{
  color:blue
}
.maiuscolo{
  text-transform: uppercase;
}
.sottolineato{
  text-decoration: underline;
}

.container-pizze{
  display: flex;
  flex-wrap: wrap;
}
.box{
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}